/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Tags */
body{
  font-family: 'Roboto', sans-serif;
  background-color: #343434;
}
h1,h2,h3,h4{
  text-align: center;
  color:#fff;
}
section{
  text-align: center !important;
}
section:nth-child(2){
    margin:5% 0;
}

/* Class */
.card{
  display: inline-block;
  clear:both;
  width: 200px;
}
.card img{
  width: 100%;
}
.row{
  background-color: #232323;
}
.logo{
    margin-top: 20px;
}
header{
  text-align: center;
}
