<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

</head>
<body ng-controller="myCtrl as vm" ng-cloak>

<input ng-model="search.age">

<section ng-repeat="movie in vm.movies | filter: search">
    <h2>{{movie.title}}<h2>
    <h3>{{movie.age}}<h3>

</section>
<h3>{{"HOLA MUNDO" | lowercase}}</h3>
<h3>{{ "2016-01-05T09:05:05.035Z"| date}}</h3>
<script src="app/app.module.js"></script>
</body>
</html>